.block {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    height: 400px;
    width: 400px;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}